@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
.fs-18 {
  font-size: 1.8rem !important; }

body {
  font-family: 'Sen', sans-serif;
  color: #fff;
  line-height: 1.5; }

.paragraph {
  font-size: 1.6rem; }

.heading-1 {
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.2; }

.heading-2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400; }

.heading-3 {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 700; }

.heading-4 {
  font-size: 4.5rem;
  font-weight: 700; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  min-height: 100%; }

.header {
  background: linear-gradient(transparent, #222), url("../../../assets/img/hero.jpeg");
  background-size: cover;
  background-position: center; }
  .header__wpr {
    width: 35%;
    min-height: 55rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem; }
    @media only screen and (max-width: 65.625em) {
      .header__wpr {
        width: 50%; } }
    @media only screen and (max-width: 48.125em) {
      .header__wpr {
        width: 80%; } }
  .header__title {
    margin-bottom: 1rem; }
  .header__paragraph {
    margin-bottom: 1.5rem; }

.footer {
  padding: 6.5rem 0;
  background-color: #222; }
  .footer__sm {
    display: flex;
    gap: 1rem; }
  .footer__wpr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem; }
  .footer__paragraph {
    text-align: center;
    font-size: 1.4rem; }
    @media only screen and (max-width: 48.125em) {
      .footer__paragraph {
        font-size: 1.2rem; } }
  .footer__link {
    color: #26afd8;
    font-weight: 700;
    border-radius: 3px;
    transition: all .2s ease;
    text-decoration: none; }
  .footer__link:hover {
    color: #f9f9f9;
    background-color: #26afd8;
    padding: .5rem .5rem; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
  column-gap: 6rem; }
  @media only screen and (max-width: 59.375em) {
    .grid {
      column-gap: 3rem; } }

.btn, .btn::after, .btn::before {
  font-family: 'Sen', sans-serif;
  position: relative;
  outline: none;
  background-color: transparent;
  border: none;
  color: #f9f9f9;
  font-size: 1.6rem;
  cursor: pointer; }

.btn__count {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 700;
  height: 2rem;
  width: 2rem;
  padding: .25rem;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: #f9f9f9;
  color: #222;
  transform: translate(50%, -50%); }

.btn--squared {
  border-radius: 5px; }

.btn--dark {
  background-color: #222;
  padding: .7rem 2.5rem;
  font-weight: 700;
  transition: all .4s ease;
  text-transform: capitalize; }
  .btn--dark:hover {
    background-color: #26afd8; }

.btn--blue {
  background-color: #26afd8;
  padding: .8rem 2.5rem;
  font-weight: 700;
  transition: all .2s ease;
  text-transform: capitalize; }
  .btn--blue:hover {
    background-color: #222; }

.btn--white {
  background-color: #f9f9f9;
  color: #222;
  font-weight: 700;
  text-transform: capitalize;
  padding: 1rem 2.5rem;
  transition: all .4s ease; }
  .btn--white:hover {
    color: #f9f9f9;
    background-color: #26afd8; }

.btn--transparent {
  border: 2px solid #f9f9f9;
  padding: .5rem 2.5rem;
  font-weight: 700;
  transition: all .4s ease;
  text-transform: capitalize; }
  .btn--transparent:hover {
    background-color: #f9f9f9;
    color: #222; }

.btn--sandwich {
  position: relative; }

.btn--sandwich, .btn--sandwich::before, .btn--sandwich::after {
  width: 2rem;
  height: 3px;
  background-color: #f9f9f9;
  transition: all .2s ease; }

.btn--sandwich::before, .btn--sandwich::after {
  content: "";
  position: absolute; }

.btn--sandwich::after {
  top: 7px; }

.btn--sandwich::before {
  top: -7px; }

.icon {
  fill: #fff;
  display: inline-block;
  height: 3rem;
  width: 3rem; }

.link, .link:link, .link:visited {
  text-decoration: none;
  color: #fff; }

.nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000; }
  .nav__wpr-u, .nav__wpr-d {
    padding: 2rem; }
  .nav__wpr-u {
    background-color: #222; }
  .nav__wpr-d {
    position: relative;
    background-color: #26afd8; }
  .nav__notification, .nav__menu, .nav__list {
    display: flex;
    align-items: center; }
  .nav__notification {
    gap: 1rem;
    justify-content: center; }
    @media only screen and (max-width: 48.125em) {
      .nav__notification {
        flex-direction: column-reverse; } }
  .nav__btn {
    font-size: 1.6rem;
    border-radius: 50px;
    font-weight: 400;
    padding: .9rem 2rem;
    background-color: #26afd8;
    line-height: 1; }
  .nav__message {
    font-size: 1.8rem; }
  .nav__menu {
    width: 100%; }
  .nav__logo {
    margin-right: auto; }
  .nav__list {
    justify-content: space-around;
    width: 50%;
    list-style: none;
    font-size: 1.6rem; }
    @media only screen and (max-width: 59.375em) {
      .nav__list {
        display: none; } }
  .nav__list-overlay {
    position: absolute;
    list-style: none;
    padding: 0 2rem;
    background-color: #26afd8;
    height: calc(100vh - 74px);
    width: 0;
    top: 0;
    right: 0;
    font-size: 2.6rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    transition: all .3s ease;
    overflow: hidden; }
  .nav__item {
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: all .2s ease;
    cursor: pointer; }
  .nav__item:hover {
    background-color: #222; }
  .nav__cart {
    padding: .7rem 1.5rem; }
  .nav__icon {
    height: 2rem;
    width: 2rem; }
  .nav__checkbox {
    display: none; }
  .nav__sandwich {
    z-index: 2000;
    margin-left: 2rem;
    padding: 1rem;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 59.375em) {
      .nav__sandwich {
        display: flex; } }
  .nav__checkbox:checked + .nav__sandwich .btn--sandwich::before {
    top: 0;
    transform: rotate(135deg) scale(1.5); }
  .nav__checkbox:checked + .nav__sandwich .btn--sandwich {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__sandwich .btn--sandwich::after {
    top: 0;
    transform: rotate(-135deg) scale(1.5); }
  .nav__checkbox:checked + .nav__sandwich {
    transform: scale(1.2); }
  .nav__checkbox:checked ~ .nav__list-overlay {
    width: 100%;
    visibility: visible;
    opacity: 1; }

.about {
  padding: 6.5rem 0;
  color: #222; }
  .about__header {
    grid-column: 1 / 4; }
    @media only screen and (max-width: 48.125em) {
      .about__header {
        grid-column: 1 / -1; } }
  .about__message {
    grid-column: 4 / -1; }
    @media only screen and (max-width: 48.125em) {
      .about__message {
        grid-column: 1 / -1; } }
  .about__support-column {
    grid-column: span 2; }
    @media only screen and (max-width: 48.125em) {
      .about__support-column {
        grid-column: 1 / -1; } }

.card {
  background-color: #222;
  min-height: 35rem;
  position: relative;
  overflow: hidden;
  color: #f9f9f9;
  font-size: 4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 4rem; }
  .card__number {
    position: absolute;
    left: 10%;
    top: 10%; }
  .card__title {
    text-align: center; }
  .card__img {
    position: absolute; }
    .card__img--1 {
      right: -25%;
      bottom: -25%; }
    .card__img--2 {
      right: -11%;
      bottom: -17%; }
    .card__img--3 {
      right: -14%;
      bottom: -31%; }

.statement {
  background: linear-gradient(transparent, #222), url("../../../assets/img/travel_1.jpeg");
  background-size: cover;
  background-position: center; }
  .statement__wpr {
    min-height: 55rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    text-align: right; }
  .statement__heading {
    width: 50%; }
    @media only screen and (max-width: 65.625em) {
      .statement__heading {
        width: 60%; } }
    @media only screen and (max-width: 48.125em) {
      .statement__heading {
        width: 80%; } }
  .statement__paragraph {
    width: 35%;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 65.625em) {
      .statement__paragraph {
        width: 50%; } }
    @media only screen and (max-width: 48.125em) {
      .statement__paragraph {
        width: 80%; } }

.shop {
  padding: 6.5rem 0;
  color: #222; }
  .shop__header, .shop__grid {
    margin-bottom: 4rem; }
  .shop__more {
    width: 100%;
    display: flex;
    justify-content: center; }

.product {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; }
  @media only screen and (max-width: 59.375em) {
    .product {
      grid-column: span 3; } }
  @media only screen and (max-width: 48.125em) {
    .product {
      grid-column: 1 / -1; } }
  .product__picture {
    min-height: 50rem;
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    cursor: pointer; }
    @media only screen and (max-width: 59.375em) {
      .product__picture {
        min-height: 35rem; } }
    .product__picture--1 {
      background-image: url("../assets/item/1_item.jpg"); }
    .product__picture--2 {
      background-image: url("../assets/item/2_item.jpg"); }
    .product__picture--3 {
      background-image: url("../assets/item/3_item.jpg"); }
  .product__name {
    font-size: 2rem;
    text-transform: capitalize; }
  .product__price {
    font-size: 1.4rem;
    font-weight: 700; }
  .product__details {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .product__offer {
    display: flex;
    gap: 1rem; }
  .product__discount {
    color: #26afd8;
    text-decoration: line-through; }

.local {
  padding: 6.5rem 0; }
  @media only screen and (max-width: 48.125em) {
    .local {
      padding: 0 0 6.5rem 0; } }
  .local__wpr {
    display: flex;
    justify-content: flex-end;
    position: relative; }
  .local__details {
    width: 80%;
    background-color: #222;
    min-height: 50rem;
    padding: 4rem;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px; }
    @media only screen and (max-width: 48.125em) {
      .local__details {
        width: 100%;
        border-radius: 0; } }
  .local__img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30%;
    height: 44rem;
    transform: translateY(-50%);
    background-image: url("../../../assets/img/shopping.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px; }
    @media only screen and (max-width: 48.125em) {
      .local__img {
        display: none; } }
  .local__img-mobile {
    width: 100%;
    min-height: 44rem;
    background-image: url("../../../assets/img/shopping.jpeg");
    background-size: cover;
    background-position: center;
    display: none; }
    @media only screen and (max-width: 48.125em) {
      .local__img-mobile {
        display: block; } }
  .local__information {
    width: 80%;
    display: flex;
    justify-content: flex-end; }
    @media only screen and (max-width: 48.125em) {
      .local__information {
        width: 100%;
        justify-content: initial; } }
  .local__information-wpr {
    padding: 0 14.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    @media only screen and (max-width: 65.625em) {
      .local__information-wpr {
        padding: 0; } }

.logo {
  height: 3rem; }
