@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
html {
  font-family: 'Sen', sans-serif;
  color: #fff;
  line-height: 1.5; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.btn, .btn::after, .btn::before {
  position: relative;
  outline: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer; }

.btn__count {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 700;
  height: 2rem;
  width: 2rem;
  padding: .25rem;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: #fff;
  color: #222;
  transform: translate(50%, -50%); }

.btn--squared {
  border-radius: 5px; }

.btn--dark {
  background-color: #222; }

.nav {
  width: 100%; }
  .nav__wpr-u, .nav__wpr-d {
    padding: 2rem; }
  .nav__wpr-u {
    background-color: #222; }
  .nav__wpr-d {
    background-color: #26afd8; }
  .nav__notification, .nav__menu, .nav__list {
    display: flex;
    align-items: center; }
  .nav__notification {
    gap: 1rem;
    justify-content: center; }
  .nav__btn {
    font-size: 1.6rem;
    border-radius: 50px;
    font-weight: 400;
    padding: .9rem 2rem;
    background-color: #26afd8;
    line-height: 1;
    letter-spacing: .1rem; }
  .nav__alert-text {
    font-size: 1.8rem; }
  .nav__menu {
    width: 100%; }
  .nav__logo {
    height: 3rem;
    margin-right: auto; }
  .nav__list {
    justify-content: space-around;
    width: 50%;
    list-style: none;
    font-size: 1.6rem; }
  .nav__item {
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: all .2s ease; }
  .nav__item:hover {
    background-color: #222; }
  .nav__cart {
    padding: .7rem 1.5rem; }
  .nav__icon {
    height: 2rem;
    width: 2rem; }

.icon {
  fill: #fff;
  display: block; }

.link, .link:link, .link:visited {
  text-decoration: none;
  color: #fff; }
