@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
html {
  font-family: 'Sen', sans-serif;
  color: #fff; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.btn, .btn::after, .btn::before {
  outline: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.6rem; }

.nav {
  width: 100%; }
  .nav__wpr-u {
    background-color: #222;
    padding: 2rem;
    display: flex;
    justify-content: center; }
  .nav__notification, .nav__menu, .nav__list {
    display: flex;
    align-items: center; }
  .nav__notification {
    gap: 1rem; }
  .nav__btn {
    border-radius: 50px;
    font-weight: 400;
    padding: 1rem 2rem;
    background-color: #26afd8; }
  .nav__alert-text {
    font-size: 1.8rem; }
