.header{
    background: linear-gradient(transparent, $color-dark-grey-1), url("../../../assets/img/hero.jpeg");
    background-size: cover;
    background-position: center;

    &__wpr{
        width: 35%;
        min-height: 55rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;

        @media only screen and (max-width: $bp-large){
            width: 50%;
        }

        @media only screen and (max-width: $bp-small){
            width: 80%;
        }
    }

    &__title{
        margin-bottom: 1rem;
    }

    &__paragraph{
        margin-bottom: 1.5rem;
    }
}