.footer{
    padding: 6.5rem 0;
    background-color: $color-dark-grey-1;

    &__sm{
        display: flex;
        gap: 1rem;
    }

    &__wpr{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &__paragraph{
        text-align: center;
        font-size: 1.4rem;

        @media only screen and (max-width: $bp-small){
            font-size: 1.2rem;
        }
    }

    &__link{
        color: $color-primary;
        font-weight: 700;
        border-radius: 3px;
        transition: all .2s ease;
        text-decoration: none;
    }

    &__link:hover{
        color: $color-light-1;
        background-color: $color-primary;
        padding: .5rem .5rem;
    }
}