.statement{
    background: linear-gradient(transparent, $color-dark-grey-1), url("../../../assets/img/travel_1.jpeg");
    background-size: cover;
    background-position: center;

    &__wpr{
        min-height: 55rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        text-align: right;
    }

    &__heading{
        width: 45%;
    }

    &__paragraph{
        width: 35%;
        margin-bottom: 2.5rem;
    }
}